@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap");

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f7f4;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #31292f;
  overflow: hidden;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

input[type="text"] {
  font-family: "Roboto Mono", monospace;
  background: #ffffff;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  border-radius: 20px;
  font-family: Roboto Mono;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  width: 600px;
  height: 100px;
  border: none;
  margin-bottom: 40px;
  padding: 0 40px;
  margin-right: 18px;
}

input[type="text"].weak {
  border-color: #ef476f;
}

input[type="text"].medium {
  border-color: #ffd166;
}

input[type="text"].strong {
  border-color: #06d6a0;
}

button {
  background: none;
  border: none;
  color: #7da9ae;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  height: 100px;
  margin-bottom: 40px;
  cursor: pointer;
  padding-right: 1rem;
  position: relative;
}

.generate span {
  position: absolute;
  left: -6rem;
  z-index: 3;
}

.copy {
  transition: color 150ms ease-in-out;
  /* min-width: 140px; */
}

button span:first-of-type {
  font-size: 3rem;
}

.copy span:last-of-type {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-weight: bold;
}

.copy.copied {
  color: #4a9661;
  animation: bubble 450ms ease-in-out;
}

.copy.copied span:last-of-type {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #7da9ae;
  cursor: pointer;
  position: relative;
  top: -12px;
  transition: background 150ms ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #7da9ae;
  cursor: pointer;
  position: relative;
  top: -12px;
  transition: background 150ms ease-in-out;
}

input[type="range"]::-ms-thumb {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #7da9ae;
  cursor: pointer;
  position: relative;
  top: -12px;

  transition: background 150ms ease-in-out;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #4a9661;
}

input[type="range"]:hover::-moz-range-thumb {
  background: #4a9661;
}

input[type="range"]:hover::-ms-thumb {
  background: #4a9661;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #cedfe1;
  border-radius: 4px;
  width: 385px;
  height: 9px;
}

input[type="range"] {
  width: 385px;
  margin-right: 35px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background: url("images/checkbox--unchecked.svg") left top no-repeat;
  padding-left: 50px;
  min-height: 35px;
  padding-top: 6px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background: url("images/checkbox--checked.svg") left top no-repeat;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
